
@{
    ViewData["Title"] = "Index_Eng";
    Layout = "~/Views/Shared/_Layout_Eng.cshtml";
}


<!-- ======= About Section ======= -->
@{
    foreach (var item in ViewData["AboutList"] as List<About>)
    {
        
    
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>About</h2>
                <p>I am Hossein Azadpour. Ready to build up and run your desired website.</p>
            </div>

            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">
                    <img src="~/Layout/assets/img/profile-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>Web Developer</h3>

                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>@item.Birthday</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>@item.Website</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>@item.PhoneNumber</span></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>@item.Age</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>@item.Email</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>@item.City</span></li>
                            </ul>
                        </div>
                    </div>
                    <p>
                    </p>
                </div>
            </div>

        </div>
        </section>
    }
}<!-- End About Section -->
<!-- ======= Skill Section ======= -->
<section id="skill" class="skills section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Skills</h2>
            <p></p>
        </div>

        <div class="row" style="font-size:28px;color:darkred">
            @{
                foreach (var item in ViewData["SkillList"] as List<Skill>)
                {


                    switch (item.Id)
                    {
                        case < 50:
                            <div class="col-lg-4">
                                <ul>
                                    <li><label role="none" class="@item.SkillIcon">@item.SkillName</label></li>
                                </ul>
                            </div>
                            break;
                        default:
                            break;
                    }

                }

            }

        </div>

    </div>
</section><!-- End Skills Section -->
<!-- ======= Example Section ======= -->
<section id="resume" class="resume">
    <div class="section-title container">
        <h2>Some Examples Of Our Work</h2>
        <p>Here is some Projects that developed and design by me.</p>


        @foreach (var item in ViewData["ExampleList"] as List<Example>)
        {
            <div class="col-lg-12 pt-4 pt-lg-0 content " data-aos="fade-left" style="margin-top:30px;margin-left:30px;">
                <label><b>@item.Title</b></label>
                <div class="row">
                    <div class="col-lg-12">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Subject:</strong> <span>@item.Subject</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>@item.Website</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Number Of Page:</strong> <span>@item.NumberOfPage</span></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" data-aos="fade-right" style="border-bottom:groove">
                    <div style="padding:40px;">
                        <img id="myImg" src="" alt="Northern Lights, Norway" width="auto" height="200">
                        <img id="myImg" src="" alt="Northern Lights, Norway" width="auto" height="200">
                        <img id="myImg" src="" alt="Northern Lights, Norway" width="auto" height="200">
                    </div>
                </div>
            </div>

            <!-- The Modal -->
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        }

    </div>


</section><!-- End Resume Section -->
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Services</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                <div class="icon"><i class="bi bi-pen"></i></div>
                <h4 class="title"><a>Responsive design</a></h4>
                <p class="description">Our website designing services also offer the option of responsive design. However, we recommend responsive design because it supports mobile users, which can consist of shoppers using their tablet or smartphone to browse the web.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bi bi-database"></i></div>
                <h4 class="title"><a>Database integration</a></h4>
                <p class="description">Many company websites feature a database, such as for processing payments. We provide full support for database integration, which we separate into three tiers — basic, advanced, and full development. If your business doesn’t require a database integration, you can select, “none,” on the cost calculator.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i class="bi bi-briefcase"></i></div>
                <h4 class="title"><a>Content management system (CMS)</a></h4>
                <p class="description">
                    A CMS is another optional add-on for our web design services.
                    Whether you’re an ecommerce website or informational website, a CMS offers immense value. It can help your business manage and streamline your content, which can improve the efficiency of your content marketing strategy.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><i class="bi bi-postcard"></i></div>
                <h4 class="title"><a>Customized style</a></h4>
                <p class="description">It’s essential that your website captures your brand, which is why our web design services include unlimited style options. For example, if your company requires a sophisticated design that emphasizes the quality and price range of your products, our team can achieve that for you.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                <div class="icon"><i class="bi bi-alexa"></i></div>
                <h4 class="title"><a>Website page creation</a></h4>
                <p class="description">
                    With our web design services, you can rely on our designers to create every page of your website.

                    Whether you’re an ecommerce store, brick-and-mortar business, or service provider, our designers can create the webpages that your company needs to reach, inform, and convert your target audience. As a full-service digital marketing agency, we also offer content marketing services to enhance your strategy.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                <div class="icon"><i class="bi bi-search"></i></div>
                <h4 class="title"><a>Search engine optimization</a></h4>
                <p class="description">We maximize the results of your website design or redesign plan, as well as improve your digital marketing strategy, by ensuring your website follows best practices for SEO. SEO refers to an umbrella of techniques that enhance your website’s ranking for relevant search results.</p>
            </div>
        </div>

    </div>
</section><!-- End Services Section -->
<!-- ======= Contact Section ======= -->
@model ContactMessage_ViewModels
        <section id="contact" class="contact">
            <div class="container">
        
            <div class="section-title">
                <h2>Contact</h2>
                
            </div>
            
            <div class="row" data-aos="fade-in">
            @{
                foreach (var item in ViewData["ContactList"] as List<Contact>)
                {
                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                    
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>@item.Location</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>@item.MyEmail</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>@item.Call</p>
                            </div>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d221880.46861860607!2d52.39026968527541!3d29.665188988194107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fb20d0c8c85f2e3%3A0x6d0c5b8aef6b4cf6!2sShiraz%2C%20Fars%20Province%2C%20Iran!5e0!3m2!1sen!2s!4v1673964574617!5m2!1sen!2s" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>

                            </div>
                        }}
                        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form  asp-action="SendMessage" asp-controller="Home" class="php-email-form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label >Your Name</label>
                            <input asp-for="Name" id="name" class="form-control" required/>
                            </div>
                            <div class="form-group col-md-6">
                                <label >Your Email</label>
                                <input  class="form-control" type="email" id="Email" asp-for="Email" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Subject</label>
                            <input class="form-control"  id="subject" asp-for="Subject" required />
                        </div>
                        <div class="form-group">
                            <label >Message</label>
                            <textarea class="form-control" id="message" rows="10" asp-for="Message" ></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section>
    
}<!-- End Contact Section -->
